.wrap {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  aligh-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  background: var(--theme-elevation-950);
  border: 1px solid var(--theme-elevation-850);
  gap: 2rem;
}

.header {
  /* display: flex; */
  font-size: 1.5rem;
  text-align: center;
  color: var(--theme-elevation-200);
  & a {
    font-size: 1rem;
  }
}

.secret {
  font-family: monospace;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & button {
    margin: 0rem;
  }

  & input {
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.2rem;
    font-size: 3rem;
  }
}
